<div class="error_page_bg">
    <div class="container">
        <div class="error_section"> 
            <div class="row">
                <div class="col-12">
                    <div class="error_form">
                        <h1>404</h1>
                        <p><b style="font-size: 24px;">Xin lỗi, trang bạn tìm kiếm không tồn tại</b></p>
                        <p>Vui lòng nhập từ khóa tìm kiếm ở dưới
                            <br> hoặc trở về trang chủ.</p>
                        <form action="#">
                            <input placeholder="Search..." type="text">
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                        <a routerLink="/home">Về trang chủ</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>