<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!-- customer login start -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div id ="error_bar" style="display: none;" class="alert alert-danger" >
                <a class="close" (click)="hide_error_bar()">&times;</a>
                 <strong id="error_type"></strong> &nbsp;
                 <span id="error_message"></span>
                        </div>
            <div class="row">
                
               <!--login area start-->
                <div class="col-lg-6 col-md-6">

                    <div class="account_form login">
                        <h2>Đăng nhập</h2>
                        <form [formGroup]="formdata" (ngSubmit)="dangNhap(formdata.value)">
                            <p>   
                                <label>Tên tài khoản hoặc email <span>*</span></label>
                                <input formControlName="tendangnhap" autocomplete="on" type="text">
                                <span *ngIf="submitted && f.tendangnhap.errors" class="invalid-feedback">
                                    <span *ngIf="f.tendangnhap.errors.required" style="color: rgb(189, 27, 27);">Vui lòng nhập email hoặc tên đăng nhập</span>
                                </span>
                             </p>
                             <p>   
                                <label>Mật khẩu <span>*</span></label>
                                <input formControlName="matkhau"  type="password">
                                <span *ngIf="submitted && f.matkhau.errors" class="invalid-feedback">
                                    <span *ngIf="f.matkhau.errors.required" style="color: rgb(189, 27, 27);">Vui lòng nhập mật khẩu</span>
                                </span>
                             </p>   
                            <div class="login_submit">
                               <a href="#">Quên mật khẩu</a>
                                <label for="remember">
                                    <input id="remember" type="checkbox">
                                    Ghi nhớ đăng nhập
                                </label>
                                <button *ngIf="!submitted" type="submit">Đăng nhập</button>
                                <button  *ngIf="submitted" type="button">Đăng nhập</button>

                            </div>

                        </form>
                     </div>    
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>Đăng ký</h2>
                        <form action="#">
                            <p>   
                                <label>Tên đăng nhập <span>*</span></label>
                                <input type="text">
                             </p>
                            <p>   
                                <label>Email  <span>*</span></label>
                                <input type="text">
                             </p>
                             
                             <p>   
                                <label>Mật khẩu <span>*</span></label>
                                <input type="password">
                             </p>
                             <p>   
                                <label>Họ tên <span>*</span></label>
                                <input type="text">
                             </p>
                             <p>   
                                <label>giới tính </label>
                                <select class="form-control" name="gioitinh" id=""> 
                                     <option type="radio" name="gioitinh" value="nam"> nam</option>
                                    <option type="radio" name="gioitinh" value="nữ"> nữ</option>
                                    <option type="radio" name="gioitinh" value="khác"> khác</option>
                                </select>
                             </p>
                             <p>   
                                <label>Ngày sinh</label>
                                <input type="date" >
                             </p>
                            <div class="login_submit">
                                <button type="submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>    
                </div>
                <!--register area end-->
            </div>   
        </div>
    </div>
</div>