<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a routerLink="dashboard" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <ng-container *ngFor="let i of menus">
                <li>
                    <a href="#{{i.action}}" data-toggle="collapse" class="collapsed"><i class="{{i.icon}}"></i> <span>{{i.name}}</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="{{i.action}}" class="collapse ">
                        <ul class="nav">
                            <ng-container *ngFor="let con of i.children">
                            <li><a [routerLink]="[con.link]" class="">{{con.ten}}</a></li>
                        </ng-container>
                        </ul>
                    </div>
                </li>
            </ng-container>
            </ul>
        </nav>
    </div>
</div>