
<!-- 
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mazlay - Car Accessories Shop HTML Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    Favicon -->



   
    <!--header area start-->
    
    <!--offcanvas menu area start-->
    

    <!--offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
               <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-5">
                            <div class="header_account">
                                <ul>
                                    <li class="language"><a href="#"><img src="assets/img/logo/language.png" alt=""> english <i class="ion-chevron-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Germany</a></li>
                                            <li><a href="#">Japanese</a></li>
                                        </ul>
                                    </li>
                                    <li class="currency"><a href="#">USD <i class="ion-chevron-down"></i></a>
                                        <ul class="dropdown_currency">
                                            <li><a href="#">EUR – Euro</a></li>
                                            <li><a href="#">GBP – British Pound</a></li>
                                            <li><a href="#">INR – India Rupee</a></li>
                                        </ul>
                                    </li>
                                    <li style="color: white;">cd</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="header_top_links text-right">
                                
                                    <div  class="header_account"  >
                                        <ul>
                                            <li class="language" *ngIf="account.length==0"><a href="login">Đăng nhập-đăng ký</a></li>
                                            <li class="language" *ngIf="account.length!=0"><a href="#"><img src="assets/img/logo/user.jpg" alt=""> {{account[0].tk.tk}}<i class="ion-chevron-down"></i></a>
                                                <ul class="dropdown_language">
                                                    <li><a href="customer/profile" class="account_submenu">Thông tin</a></li>
                                                    <li><a href="customer/orders" class="account_submenu">Đơn hàng</a></li>
                                                    <li><a (click)="logout()"  class="account_submenu">Đăng xuất</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="login.html">Theo dõi đơn hàng</a></li>
                                    <li><a href="cart">Giỏ hàng</a></li>
                                    <li><a href="cart/check-out">Kênh bán hàng</a></li>                                           
                                        </ul>
                                    </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->

            <!--header middel start-->
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                            <div class="logo">
                                <a href=""><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-6 col-sm-6 col-6">
                            <div class="header_right_box">
                                <div class="search_container">
                                    <!-- that's the form -->
                                    <form (ngSubmit)="search()" [formGroup]="formSearch">
                                       <div class="hover_category">
                                            <select class="btn btn-default" style="border: none;" formControlName="loai" id="categori2">
                                                <option [value]="0" selected >Tất cả danh mục</option>
                                                <option *ngFor="let danhMuc of menus" value="{{(danhMuc.maLoai)}}">{{danhMuc.tenLoai}}</option>
                                            </select>                        
                                       </div>
                                        <div class="search_box">
                                            <input placeholder="tìm kiếm sản phẩm" formControlName="keyWord" type="text">
                                            <button type="submit">Tìm</button> 
                                        </div>
                                    </form>
                                </div>
                                <div class="header_configure_area">
                                    <div class="header_wishlist">
                                        <a href="wishlist"><i class="icon-heart"></i>
                                            <span class="wishlist_count">{{total_w}}</span>
                                        </a>
                                    </div>
                                    <div class="mini_cart_wrapper">
                                        <a href="javascript:void(0)">
                                            <i class="icon-shopping-bag2"></i>
                                            <span class="cart_price">{{total_p | currency:'VND':true:'1.0-2'}} <i class="ion-ios-arrow-down"></i></span>
                                            <span class="cart_count">{{cart_items.length}}</span>
                                        </a>
                                        <!--mini cart-->
                                        <div *ngIf="cart_items.length!=0" class="mini_cart" style="overflow-y:auto;">
                                            <div class="mini_cart_inner">
                                                <div class="cart_close">
                                                    <div class="cart_text">
                                                        <h3>Giỏ hàng của bạn</h3>
                                                    </div>
                                                    <div class="mini_cart_close">
                                                        <a href="javascript:void(0)"><i class="icon-x"></i></a>
                                                    </div>
                                                </div>
                                                <div class="cart_item" *ngFor="let cis of cart_items">
                                                   <div class="cart_img">
                                                       <a href="shop/chi-tiet/{{cis.link}}"><img style="widows: 100px;height:100px" src="assets/img/product/{{cis.anh}}" alt=""></a>
                                                   </div>
                                                    <div class="cart_info">
                                                        <a href="shop/chi-tiet/{{cis.link}}">{{cis.tenSanPham}}</a>
                                                        <p>Qty: {{cis.quantity}} X <span> {{cis.giahientai.gia | currency:'VND':true:'1.0-2'}} </span></p>    
                                                    </div>
                                                    <div class="cart_remove">
                                                        <a (click)="deleteItem(cis)"><i class="ion-android-close"></i></a>
                                                    </div>
                                                </div>
                                                <div class="mini_cart_table">
                                                    <div class="cart_total mt-10">
                                                        <span>Tổng cộng:</span>
                                                        <span class="price">{{total_p  | currency:'VND':true:'1.0-2'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mini_cart_footer">
                                               <div class="cart_button">
                                                    <a href="cart">Xem giỏ hàng</a>
                                                </div>
                                                
                                                <div class="cart_button">
                                                    <a class="active" href="cart/check-out">Đặt hàng</a>
                                                </div>

                                            </div>
                                        </div>
                                        <div *ngIf="cart_items.length==0" class="mini_cart" style="overflow-y:auto;">Chưa có sản phẩm trong giỏ hàng</div>
                                        <!--mini cart end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header middel end-->

            <!--header bottom satrt-->
            <div class="header_bottom sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class=" col-lg-3">
                            <div class="categories_menu">
                                <div class="categories_title">
                                    <h2 class="categori_toggle">Danh mục sản phẩm</h2>
                                </div>
                                <div class="categories_menu_toggle" >
                                    <ul>
                                        <ng-container *ngFor="let mn of menus">
                                          
                                        <li  *ngIf="mn.children !=null" class="menu_item_children"><a href="shop/danh-muc/{{mn.link}}">{{mn.tenLoai}} <i class="fa fa-angle-right"></i></a>
                                            <ul class="categories_mega_menu" style="width:1000px">
                                                <ng-container *ngFor="let ab of mn.children">
                                                <li  class="menu_item_children"><b><a href="shop/loai-1/{{ab.link}}">{{ab.tenLoai}}</a></b>
                                                    <ul class="categorie_sub_menu">
                                                        <ng-container *ngFor="let abc of ab.children">
                                                        <li><a href="shop/{{abc.link}}">{{abc.tenLoai}}</a></li>
                                                    </ng-container>
                                                    </ul>
                                                </li></ng-container>
                                            </ul>
                                        </li>
                                    
                                        <li *ngIf="mn.children==null"><a href="shop/{{mn.link}}">{{mn.tenLoai}}</a></li>
                                 
                                    
                                    </ng-container>
                                        <li class="hidden"><a href="shop-left-sidebar.html">New Sofas</a></li>
                                        <li class="hidden"><a href="shop-left-sidebar.html">Sleight Sofas</a></li>
                                        <li><a href="#" id="more-btn"><i class="fa fa-plus" aria-hidden="true"></i> More Categories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="main_menu menu_position text-left"> 
                                <nav>  
                                    <ul>
                                        <!-- <li><a class="active"  href="index.html">home<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu">
                                                <li><a href="index.html">Home shop 1</a></li>
                                                <li><a href="index-2.html">Home shop 2</a></li>
                                                <li><a href="index-3.html">Home shop 3</a></li>
                                                <li><a href="index-4.html">Home shop 4</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="mega_items"><a href="#">Shop<i class="fa fa-angle-down"></i></a> 
                                            <div class="mega_menu" >
                                                <ul class="mega_menu_inner">
                                                    <ng-container >
                                                    <li><a href="#">ahjhj</a>
                                                        <!-- <ul>
                                                            <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                            <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                            <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                            <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                            <li><a href="shop-list.html">List View</a></li>
                                                        </ul> -->
                                                    </li>
                                                </ng-container>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="blog.html">Khuyến Mãi<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="blog-details.html">blog details</a></li>
                                                <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                                <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                                <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages">
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="faq.html">Frequently Questions</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                                <li><a href="compare.html">compare</a></li>
                                                <li><a href="privacy-policy.html">privacy policy</a></li>
                                                <li><a href="coming-soon.html">coming soon</a></li>
                                            </ul>
                                        </li> -->

                                        <li><a href="about.html">Giới thiệu</a></li>
                                        <li><a href="contact.html"> Liên hệ</a></li><!--this is the one-->
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="call_support text-right">
                                <p><i class="icon-phone-call" aria-hidden="true"></i> <span>Hotline: <a href="tel:+(+800)456789">(+800) 456 789</a></span></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>