<div class="panel panel-headline">
    <div class="panel-body">
        <div style="display: flex;justify-content: center;">
        <h1 style="font-size: 304px;color: red;">404</h1>
       
        </div>
         <div><h1 style="font-size: 250;text-align: center;">Trang bạn tìm thấy không tồn tại</h1></div>
         <div style="display:flex;justify-content: center;">
            <form action="#">
                <div class="input-group">
                    <input class="form-control" placeholder="nhập nội dung bạn cần tìm kiếm" type="text">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button">Tìm kiếm</button></span>
                </div>
            </form>
         </div>
         <br>
        <div style="text-align: center;"><a href="main/dashboard"style="font-size: 30px;color:black">Về trang chủ</a></div>
    </div>
</div>