<div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="">home</a></li>
                        <li>Đặt hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<div class="checkout_page_bg">
    <div class="container">
        <div class="Checkout_section">
            <div class="row">
               <div class="col-12">
                    <div class="user-actions">
                        <h3> 
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Có tài khoản>
                            <a class="Returning" data-toggle="collapse" data-target="#checkout_login" aria-expanded="true">Đăng nhập</a>     

                        </h3>
                         <div id="checkout_login" class="collapse" data-parent="#accordion">
                            <div class="checkout_info">
                            
                                     
                            </div>
                        </div>    
                    </div>  
               </div>
            </div>
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_left">
                            <form [formGroup]="formdonhang" (ngSubmit)="themdonhang(formdonhang.value)">
                                <h3>Thông tin đơn hàng</h3>
                                <div class="row">

                                    <div class="col-lg-12 mb-20">
                                        <label>Họ tên <span>*</span></label>
                                        <input  *ngIf="!tg" type="text"  placeholder="họ tên" id="hoten" formControlName="hoten">
                                        <div id="hoten-message" class="valid-feedback">
                                            Looks good!
                                          </div>
                                        <input *ngIf="tg" type="text" readonly style="cursor: not-allowed;" [value]="tg.hoTen" placeholder="họ tên">    
                                    </div>
                                   
                                    <!-- <div class="col-12 mb-20">
                                        <label>Company Name</label>
                                        <input type="text">     
                                    </div> -->
                                    <!-- <div class="col-12 mb-20">
                                        <label for="country">country <span>*</span></label>
                                        <select class="niceselect_option" name="cuntry" id="country"> 
                                            <option value="2">bangladesh</option>      
                                            <option value="3">Algeria</option> 
                                            <option value="4">Afghanistan</option>    
                                            <option value="5">Ghana</option>    
                                            <option value="6">Albania</option>    
                                            <option value="7">Bahrain</option>    
                                            <option value="8">Colombia</option>    
                                            <option value="9">Dominican Republic</option>   

                                        </select>
                                    </div> -->

                                    <div class="col-12 mb-20">
                                        <label>Địa chỉ nhận hàng  <span>*</span></label> 
                                        &nbsp; <a *ngIf="tg" (click)="formThemDiaChi()"><u>Thêm địa chỉ mới</u></a>
                                        <p></p>
                                        <ng-container *ngIf="!tg">
                                    <label for="">Tỉnh/thành</label>
                                            <select formControlName="tinh" id="" class="form-control" (change)="gethuyenbytinh($event.target.value)" >
                                                
                                                <option *ngFor="let tinh of tinhs" value="{{tinh.id}}">{{tinh.name}}</option>
                                            </select>
                                         <label for="">Quận/huyện</label>
                                         <select formControlName="huyen" id="" class="form-control" (change)="getxabyhuyen($event.target.value)"> 
                                            
                                            <option *ngFor="let huyen of huyens" value="{{huyen.id}}">{{huyen.type}} {{huyen.name}}</option>
                                        </select>
                                     <label for="">Xã/phường</label>
                                     <select formControlName="xa" id="" class="form-control">
                                        
                                        <option *ngFor="let xa of xas" [value]="xa.id">{{xa.type}} {{xa.name}}</option>
                                    </select>
                                
                                </ng-container>
                                <ng-container *ngIf="tg">
                                    <select formControlName="madiachi" class="form-control" id="">
                                        <option *ngFor="let dc of dsdiachi" [value]="dc.maDiaChi">
                                            {{dc.chiTiet}},&nbsp;{{dc.ttxa.type}}&nbsp;{{dc.ttxa.name}},
                                            {{dc.tthuyen.type}}&nbsp;{{dc.tthuyen.name}},
                                            {{dc.tttinh.type}}&nbsp;{{dc.tttinh.name}}- {{dc.soDienThoai}}
                                        </option>
                                    </select>
                                </ng-container>
                                    </div>
                                   
                                    <div *ngIf="!tg" class="col-12 mb-20"> <label>Địa chỉ chi tiết (optional)</label>
                                        <input placeholder="điền địa chỉ chi tiết để nhận hàng thuận lợi hơn" formControlName="diachi" type="text">     
                                    </div> 
                                    <div *ngIf="!tg" class="col-lg-6 mb-20">
                                        <label>Số điện thoại<span>*</span></label>
                                        <input type="text" placeholder="số điện thoại" formControlName="sdt"> 

                                    </div> 
                                     <div  *ngIf="!tg" class="col-lg-6 mb-20">
                                        <label> Email   <span>*</span></label>
                                          <input type="text" placeholder="email" formControlName="email"> 

                                    </div> 
                                    <div  *ngIf="tg" class="col-lg-12 mb-20">
                                        <label> Email   <span>*</span></label>
                                          <input type="text" readonly style="cursor: not-allowed;" placeholder="email" value="{{tg.tk.email}}"> 

                                    </div> 
     
                                  
                                    <div class="col-12">
                                        <div class="order-notes">
                                             <label for="order_note">Ghi chú đơn hàng</label>
                                            <textarea id="order_note" placeholder="Ghi chú cho shop, shiper"></textarea>
                                        </div>    
                                    </div> 
                                    <div class="payment_method">
                                        <div class="panel-default">
                                             <input id="payment" (change)="checkATM()" name="payMethod" formControlName="payMethod" value="0" type="radio" checked data-target="createp_account" />
                                             <label for="payment" data-toggle="collapse" data-target="#method" aria-controls="method">Thanh toán khi nhận hàng</label>
     
                                            
                                         </div> 
                                        <div class="panel-default">
                                             <input id="payment_defult" (change)="checkATM()" name="payMethod" formControlName="payMethod" value="1" type="radio" data-target="createp_account" /> 
                                             <label for="payment_defult" data-toggle="collapse" data-target="#collapsedefult" aria-controls="collapsedefult">Thẻ ATM</label>
     
                                             <div *ngIf="checkedATM">
                                                 <div class="card-body1">
                                                    <div class="row">
                                                        <div *ngFor="let bank of banks" id="bank_{{bank.id}}" (click)="selectBank(bank.id)" class="col-3 border rounded m-2">
                                                            <a href="javascript:void(0);" >
                                                                <img src="../../../assets/img/bank-icon/{{bank.iconFileName}}" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <input type="text" formControlName="maThe" placeholder="ma the ATM" class="form-control">
                                                 </div>
                                             </div>
                                         </div>
                                             
                                     </div>     	    	    	    	    	    	    
                                </div>
                                <div class="order_button">
                                    <button  type="submit">Đặt Hàng</button> 
                                </div>
                            </form> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="checkout_form_right">
                            <form action="#">    
                                <h3>Đơn Của Bạn</h3> 
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Ảnh</th>
                                                <th>Sản Phẩm</th>
                                                <th>Đơn Giá</th>
                                                <th>Thành Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let c of cartitems">
                                                <td><img style="height: 100px;width:100px;" src="assets/img/product/{{c.anh}}"  alt="{{c.tenSanPham}}"></td>
                                                <td> {{c.tenSanPham}}	 <strong> × {{c.quantity}}</strong></td>
                                                <td> {{c.giahientai.gia |currency:'VND'}}</td>
                                                <td>{{c.money |currency:'VND'}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th >Tổng</th>
                                                <th>{{cartitems.length}} mục sản phẩm</th>
                                                <th>{{totalamount}} đơn vị</th>
                                                <td><strong>{{total |currency:'VND'}}</strong></td>
                                            </tr>
                                            <tr>
                                                <th  colspan="3">Shipping</th>
                                                <td><strong>$5.00</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <th  colspan="3">Order Total</th>
                                                <td><strong>$220.00</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>     
                                </div>
                               
                            </form> 
                        </div>        
                    </div>
                </div> 
            </div>        
        </div>
    </div>
</div>

<div  id="DiaChiModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thêm địa chỉ mới</h4>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdiachi"  (ngSubmit)="onSubmit(formdiachi.value)" class="form-horizontal ">
          <div class="modal-body ">
            <table class="table">
              <tbody>
              <tr>
                <td>
                    <label class="control-label no-padding-right" > Tỉnh/Thành Phố (<span style="color: red;">*</span>)</label>
                    <select  class="form-control" formControlName="tinh" id="" (change)="gethuyenbytinh($event.target.value)">
                      <option *ngFor="let pv of tinhs" [value]="pv.id">{{pv.name}}</option>
                    </select>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="control-label no-padding-right"> Huyện (<span style="color: red;">*</span>)</label>
                    <select  class="form-control" formControlName="huyen" (change)="getxabyhuyen($event.target.value)" id="">
                      <option *ngFor="let dt of huyens" [value]="dt.id">{{dt.name}}</option>
                    </select>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="control-label no-padding-right"> Xã (<span style="color: red;">*</span>)</label>
                    <select  formControlName="xa" class="form-control"  id="">
                        <option *ngFor="let wd of xas" [value]="wd.id">{{wd.name}}</option>
                    </select>
                </td>
              </tr>
              <tr>
                <td>
                    <label class="control-label no-padding-right"> Địa chỉ chi tiết  </label>
                    <input type="text" placeholder="Địa chỉ chi tiết" class="form-control" formControlName="chitiet"/>
                   
                  </td>
              </tr>
              <tr>
                <td>
                  <label class="control-label no-padding-right"> Số điện thoại (<span style="color: red;">*</span>)</label>
                  <input type="text" placeholder="Số điện thoại" class="form-control" formControlName="sdt"/>
                  <div *ngIf="submitted && f.sdt.errors" class="invalid-feedback">
                    <div *ngIf="f.sdt.errors.required">Vui lòng nhập số điện thoại</div>
                  </div>
                </td>
            </tr>
              </tbody>
            </table>
          
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
            <i class="fa fa-bell"></i> Làm mới
          </button>
          <button type="submit" class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> Đồng ý
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
            <i class="fa fa-times"></i> Đóng lại
          </button>
        </div>
      </form>  
      </div>
    </div>
  </div>